*{
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    box-sizing: border-box;
}
html,body{
    background-color: #fff;
    color: #202124;
    font-size: 16px;
    margin: 0;
    min-width: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

main{
    margin: 0 auto;
    max-width: 900px;
}

#placeholder{
    margin-top: 10vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#placeholder-img{
    height: 100px;  
    margin: 20px;
    opacity: 0.9;
    width: 120px;
}
#placeholder-text{
    color: #80868b;
    cursor: default;
    font-size: 1.375 rem;
    font-weight: 400;
    line-height: 1.75;
}
#form-container{
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
    margin: 32px auto 16px auto;
    max-width: 496px;
    transition-duration: 0.21s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in; 
}
#form{
    position: relative;
    border: none;
    margin: 1px;
    border-radius: 8px;
    transition-duration: 0.21s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}
.form-open{
    box-sizing: 0 3px 5px rgba(0,0,0,0.2);
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 0.4em 0.6em;
}
header ul {
    list-style: none;
    display: flex;
}
.header-logo{
    height: 2em;
}
.ham-icon
{
    height: 2em;
    margin-right: 0.4em;
}
.ham-icon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(240, 239, 239);
}
.header-title{
    color: #5f6368;
    font-size: 1.1rem;
    margin-left: 0.4em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.3em;
}
.header-title:active{
    text-decoration: underline;
}

#notes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 1em;
    justify-content: center;
}
#note-text{
    width: calc(100% -10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
}

#note-title{
    display: none;
    width: calc(100% -10px);
    min-height: 43px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border: 0;
}
#form:focus,
input:focus{
    outline: none;
}
#form-buttons{
    display: none;
    text-align: right;
}

#submit-button,
#form-close{
    margin: 0.2em 0;
    box-sizing: border-box;
    color: rgba(0,0,0,0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: transparent !important;
    background-color: rgb(251, 251, 251);
}

#submit-button {
    color: #fff;
    background-color: #007bff;
  }
#submit-button:hover,
#form-close:hover {
  filter: brightness(95%);
  cursor: pointer;
}
#white {
    background: white;
  }
  
  #purple {
    background: #d7aefb;
  }
  
  #orange {
    background: #fbbc04;
  }
  
  #teal {
    background: #a7ffeb;
  }
  
.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    width: 250px;
    height: fit-content;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition-duration: 0.21s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

.note:hover{
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}
.note-title{
    padding-top: 12px;
    letter-spacing: 0.00625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
    transition: background-color 0.218s ease-in;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: 0.01428571em;
    padding: 4px 16px 12px 16px;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
 .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    z-index: 100;
    visibility: hidden;
 }
.openModal{
    visibility: visible;
    opacity: 1;

}
.closeModal
{
    visibility: hidden;
}
.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    width: 25rem;
    border-radius: 10px;
    background-color: #fff;
}
.modal-title
{
    min-width: 40px;
    margin: 0 6px;
    font-weight: 500;
    border: 0;
    overflow: hidden;
    position: relative;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-bottom: 10px;
    padding-top: 1rem;
}
.modal-text
{
    min-width: 40px;
    margin: 0 6px;
    font-weight: 500;
    border: 0;
    overflow: hidden;
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 10px;
}
.modal-close
{
    float: right;
    margin: 0.2em 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    height: 2rem;
}
nav{
    width: 100%;
}
nav ul{
    min-width: 100%;
}
.inputList
{
    display: flex;
    width: 70%;
    max-width: 500px;
    height: 2.2rem;
    margin-left: 2.2em;
    box-shadow: 0 1px 0px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
    border: none;
    border-radius: 6px;
    padding: 0.3em;
}

.searchbar{
    width: 100%;
    border: none;
    height: 100%;
    overflow: hidden;
    margin-left: 0.5rem;
}
.tools
{
    width: 100%;
    height: 35px;
    display: flex;
    padding: 0.3em;
    justify-content: flex-end;
    position: relative;
}
#delete-icon
{
    display: block;
    margin-right: 0.5rem;
}
#delete-icon:hover{
    cursor: pointer;
}

#color-icon:hover{
    cursor: pointer;
}
#color-tool
{
    position: absolute;
    left: -20px;
    top: 20px;
    z-index: 20;
    height: 40px;
    position: absolute;
    width: 170px;
    border: 1px solid black;
    cursor: pointer;
    background:#fff;
    box-shadow: 0 1px 0px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
    padding: 5px 4px;
    display: none;
    justify-content: space-between;
    border-radius: 9px;
}
.color-option{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}
.color-option:hover{
    border: 1px solid black;
}
#white{
    background-color: #fff;
}
#red{
    background-color: rgb(211, 35, 35);
}
#purple
{
    background-color: rgb(204, 16, 204);
}
#blue
{
    background-color: rgb(82, 82, 244);
}
#green{
    background-color: green;
}
#yellow
{
    background-color: yellow;
}